$primary-color: var(--main-text-color);
$primary-hover: var(--main-bg-color);
$secondary-color: #6c757d;
$secondary-hover: #545b62;
$nav-bg: #333;
$nav-text: #fff;
$text-color: #333;
$bg-color: #f8f9fa;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;

$border-radius: 4px;

$transition-speed: 0.3s;


/* 
* It's usually better to use CSS variables for theming.
* They are easier to debug in the browser and can be changed dynamically.
* Here are some example CSS variables for theming, attached on :root selector.

* Example of javascript that chages a CSS variable (useful for dark/white mode toggling):
* `document.documentElement.style.setProperty('--main-bg-color', 'white');`
*/
:root {
    --main-bg-color: lightblue;
    --main-text-color: #007bff;
}